<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <display-name>FluidRegions-Service</display-name>

    <listener>
        <listener-class>de.caseclass.webservices.template.web.WebServiceContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>webservice-template-scala</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.codahale.jersey;de.caseclass.webservices.template</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>webservice-template-scala</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
